$--editor-background-color: #fff;
$--editor-border-color: #f0f0f0;

$--editor-header-border-color: #f0f0f0;
$--editor-header-shadow-color: #dad7d7;

$--editor-text-color: #000000d9;

$--editor-icon-hover-color: #00000010;

$--contextmenu-background-color: #fff;
$--contextmenu-item-hover-background-color: #f5f5f5;
$--contextmenu-item-disable-background-color: #fff;
$--contextmenu-border: 1px solid #f0f0f0;
$--contextmenu-font-size: 12px;
$--contextmenu-font-color: #000000d9;
$--contextmenu-hover-font-color: #000000d9;
$--contextmenu-disable-font-color: #00000040;
